body{
    background-color: rgb(0, 0, 0);
    color: rgb(238, 242, 245);
}
h1{
    color: rgb(240, 234, 231);
}
section{
    background: rgb(0, 0, 0);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-items: center;
    justify-content: center;