body{
    background-color: rgb(192, 17, 17);
    color: rgb(238, 242, 245);
}
h1{
    color: rgb(240, 234, 231);
}
section{
    background: rgb(136, 121, 121);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-items: center;
    justify-content: center;